<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe wydarzenie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<form th:object="${eventDTO}" method="post" th:action="@{/event/add}">
    <div class="form-group">
        <label for="eventTitle">Tytuł wydarzenia</label>
        <input type="text" class="form-control" id="eventTitle" aria-describedby="emailHelp"
               placeholder="Tytuł wydarzenia" th:field="*{title}">
        <p th:errors="*{title}" class="alert alert-danger"></p>
    </div>
    <div class="form-group">
        <label for="eventDescription">Opis wydarzenia</label>
        <textarea class="form-control" id="eventDescription" rows="3" th:field="*{description}"></textarea>
        <p th:errors="*{description}" class="alert alert-danger"></p>
    </div>
    <div class="form-group">
        <label for="eventStart" class="col-2 col-form-label">Początek wydarzenia</label>
        <div class="col-10">
            <input class="form-control" type="datetime-local" placeholder="dd-MM-yyyy HH:mm" id="eventStart"
                   th:field="*{startDate}">
            <p th:errors="*{startDate}" class="alert alert-danger"></p>
        </div>
    </div>
    <div class="form-group">
        <label for="eventEnd" class="col-2 col-form-label">Koniec wydarzenia</label>
        <div class="col-10">
            <input class="form-control" type="datetime-local" placeholder="dd-MM-yyyy HH:mm" id="eventEnd"
                   th:field="*{endDate}">
            <p th:errors="*{endDate}" class="alert alert-danger"></p>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Utwórz wydarzenie</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>